<section class="vh-100 bg-image"
  style="background-image: url('https://mdbootstrap.com/img/Photos/new-templates/search-box/img4.jpg'); background-size: cover;">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card mt-4" style="border-radius: 15px;">
            <div class="card-body p-5">
              <div style="display: none;" id="message" class="alert alert-danger" role="alert">
              </div>
              <h2 class="text-uppercase text-center mb-3">Cập nhật thông tin</h2>

              <form id="edit-category-form" method="POST" action="/category/edit-category">
                <input type="hidden" name="id" value="{{ category._id}}">
                <div class="form-outline mb-2">
                  <label class="form-label" for="form3Example1cg">Tên danh mục</label>
                  <input name="name" type="text" id="name" class="form-control form-control-lg"
                    value="{{category.name}}" required />
                </div>
                {{!-- image --}}
                <div class="center">
                  <img src="{{category.image}}" alt="" width="100px" height="100px" />
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="fileImageProduct">Ảnh</label>
                  <input name="image" type="file" id="fileImageProduct" class="form-control form-control-lg" />
                </div>

               <div class="d-grid gap-2">
                  <button
                    onclick="myFunction()"
                    class="btn btn-primary btn-lg gradient-custom-4"
                    type="button"
                  >Cập nhật</button>
              </div>
                <input type="hidden" name="urlImage" id="url-image" value="{{category.image}}" />
              </form>

            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>
              function myFunction() {
                (async () => {
                  const name = $('#name').val();

                  const fileImageProduct = $('#fileImageProduct').val();

                  if (name == "") {
                    $('#message').show();
                    $('#message').html('Bạn chưa nhập tên danh mục!');
                    $('#name').focus();
                    return;
                  }


                  if (fileImageProduct != "") {
                    const urlImage = await upload("#fileImageProduct");
                    document.getElementById('url-image').value = urlImage;
                  }

                  document.getElementById('edit-category-form').submit();
                })();
              }
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{> upload-image}}